
body{
  font: "Spartan";
}

.bg-top{
  position: relative;
}

.bg-bottom{
  position: relative;
}


.all-content{
  position: absolute;
  top: 100px;
  padding: 0 100px 0 100px;
}

/* Main-info section */


.big-heading{
  font-weight: 700;
  color: hsl(300, 43%, 22%);
}

.heading-text{
  color: grey;
}


/* Reviews section */

.card-two{
  position: relative;
  left: 30px;
}

.card-three{
  position: relative;
  left: 60px;
}



.reviews-container{
  position: relative;
}


.fa-star{
  color: goldenrod;
}


.star-review-card{
  border-style: hidden;
  border-radius: 5px;
  width: 400px;
  height: 40px;
  margin: 10px;
  background-color: hsl(300, 24%, 96%);
  font-weight: bold;
  color: hsl(300, 43%, 22%);
}

.stars-container{
  margin: 10px;
}

.review-text{
  margin: 10px;
}



/* Testimonials section */

.t-card-two{
  position: relative;
  top: 30px;
}

.t-card-three{
  position: relative;
  top: 60px;
}

.customer-wrap{
  display: flex;
  margin: 10px 0 10px 0;
}


.testimonial-section{
  margin-top: 30px;
  margin-bottom: 30px;
}



.customer-review-card{
  border-style: hidden;
  border-radius: 5px;
  background-color: hsl(300, 43%, 22%);
  margin: 10px;
  padding: 10px;
  color: hsl(300, 24%, 96%);
  padding: 20px;
}


img{
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

.customer-name{
  margin: 0;
  font-weight: bold;
  font-size: medium;
}

.customer-status{
  margin: 0;
  font-size: medium;
  color: hsl(333, 80%, 67%);
}

.customer-image{
  margin-right: 20px;
}

.customer-review-text{
  padding: 10px 0 10px 0;
  font-size: 14px;
}


