
body{
  font: "Spartan";
  padding: 100px;
}

/* Main-info section */

.big-heading{
  font-weight: 700;
  color: hsl(300, 43%, 22%);
}

.heading-text{
  color: grey;
}


/* Reviews section */

.reviews-container{
  position: relative;
}


.fa-star{
  color: goldenrod;
}


.star-review-card{
  border-style: hidden;
  border-radius: 5px;
  width: 400px;
  height: 40px;
  margin: 10px;
  background-color: hsl(300, 24%, 96%);
  font-weight: bold;
  color: hsl(300, 43%, 22%);
}

.stars-container{
  margin: 10px;
}

.review-text{
  margin: 10px;
}



/* Testimonials section */

.customer-review-card{
  border-style: hidden;
  border-radius: 5px;
  background-color: hsl(300, 43%, 22%);
  margin: 10px;
  padding: 10px;
  color: hsl(300, 24%, 96%);
}



/* Footer section */


.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }